td {
    background-color: rgb(158, 201, 158);
    text-transform:uppercase;
    min-height: 100%;
    width: 100px;
    height: 100px;
    font-size: xxx-large;
    color: white;
    text-align: center;
    font-family: Sans-serif;
  }
  
  table {
    table-layout: auto;
    background-color: rgb(0, 0, 0);
    border-style: double border;
    margin-left: auto;
    margin-right: auto;
  }
  .occupied {
    background-color: rgb(255, 0, 0);
  }
  
  .targeted {
    background-color: rgb(228, 228, 24);
  }
  
  .selected {
    filter: grayscale(80%);
  }
  
  .empty {
    background-color: rgb(0, 0, 0);
  }

  .flagged {
    /* background-color: rgb(255, 0, 179); */
  }

  .found {
    filter: grayscale(80%);
  }

  h1,h2 {
    text-align: center;
    font-family: Sans-serif;
    font-size:200%;
  }
  
  body {
    background-color: whitesmoke;
  }
  