body{
  text-transform:uppercase;
  font-size: xxx-large;
  color: white;
  text-align: center;
  font-family: Sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-item{
  background-color: #333;
}
/* li {
  margin: auto;
} */
.navbar-nav{
  margin-left: auto;
}
.navbar-text{
  padding-left: 35vw;
  padding-right: 35vw;
  margin-left:auto;
  margin-right:auto;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}

td {
    text-transform:uppercase;
    font-size: xxx-large;
    color: white;
    text-align: center;
    font-family: Sans-serif;
    width: 12.5%;
    height: 12.5%;
  }

  #board tr:nth-child(even) td:nth-child(even), #board tr:nth-child(odd) td:nth-child(odd) {
    background: rgb(85, 108, 83);
  }
  #board tr:nth-child(odd) td:nth-child(even), #board tr:nth-child(even) td:nth-child(odd) {
    background: rgba(87, 87, 87, 0.582);
  }

  #board td:hover{
    background: rgba(76, 83, 67, 0.759) !important;
  }

  .board-container{
    margin:auto;
    float:left;
    content: "";
    /* padding-left:10vw; */
    display:flex;
    justify-content: center;
    height:75vw
  }

  #board {
    table-layout: auto;
    border-style: double border;
    padding: 2vmin;
    width: 75vmin;
    height:75vmin;
    /* margin-left: 20vmin;
    float: left; */
    /* width: 80vmin;
    height:80vmin; */
  }
 
  /* .content{
    position:relative;
    width:100%;
    height: 100%;
  } */
 
  .occupied {
    background-color: rgba(106, 26, 26, 0.81)!important;
  }
  
  .targeted {
    background-color: rgba(165, 165, 80, 0.892)!important;
  }
  
  .selected {
    background-color: rgb(238, 229, 229)!important;
    filter: grayscale(80%);
  }
  
  .empty {
    background-color: rgb(0, 0, 0)!important;
  }

  .flagged {
    /* background-color: rgb(255, 0, 179); */
  }

  .found {
    filter: grayscale(80%);
  }

  h1,h2 {
    text-align: center;
    font-family: Sans-serif;
    font-size:200%;
  }
  
  body {
    background-color: whitesmoke;
  }

  #functions-container{
    float:right;
    display: flex;
    justify-content: center;
    /* margin-right:5vmin;
    padding:5vmin;
    width:20vmin; */
  }

  .piece-container{
    /* padding-right:5vmin;
    padding-left:1vmin; */
    padding-bottom: 2vmin;
  }

  #piecetable{
    table-layout: auto;
    background-color: rgb(184, 155, 77) !important;
    /* padding:1vmin; */
    /* margin-right: auto;  */
    float: left;
  }
  
  #piecetable td{
    border:2px solid black;
    border-style: double border;
    width: 8vmin;
    height:8vmin;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
  }
  
  #h_pieces{
    padding: 1vmin;
  }

  .btns-container{
    /* padding-right:5vmin;
    padding-left:1vmin; */
    padding-top: 10vmin; 
    padding-bottom: 5vmin;
    float:right;
  }
  .button{
    border: 2px solid black;
    border-radius:1.5vmin;
    background-color: rgb(82, 72, 56);
    color: white;
    padding: 1vmin;
  }

