body{
    color: rgb(27, 18, 18);
    text-align: center;
    font-family: Sans-serif;
    text-transform:uppercase;
}
.page-container{
    background: url("/static/images/chessA.jpg") no-repeat center fixed;
    background-size: cover;
    background-blend-mode:color;
    background-opac;
    width: 100%;
    height: 150%;
  }
#rule_functions{
    text-transform:uppercase;
    font-size: large;
    color: rgb(27, 18, 18);
    text-align: center;
    font-size: calc( 0.5vh + 1vw);
}
p{
    color: rgb(27, 18, 18);
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-transform:uppercase;
    font-size: large;
    color: rgb(27, 18, 18);
    text-align: center;
    font-size: calc( 0.5vh + 1vw);
} 
#rules_squares{
    font-size:large;
    text-transform: none;
    font-size: calc( 0.5vh + 1vw);
    text-align: center;
    padding-left: 3vmin;
    padding-right: 3vmin;
}

.rules_board{
    font-size: small;
    width: 90% !important;
    height: 90% !important;
    margin-left: auto;
    margin-right: auto;
    float:center;
}

.example{
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2vmin;
    /* max-width: 70vh; */
}
.boardex-container{
    display:flex;
    justify-content: center;
    /* max-height: 30vw; */
}
.example-container{
    justify-content: center;
    /* min-height: 35vh; */
}


