html{
    background-color:rgba(66, 96, 66, 0.236);
}

body{
    color: rgb(27, 18, 18);
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-transform:uppercase;
    
}
.page-container-stat{
    background-color:rgba(66, 96, 66, 0.236);
}

.sub{
    font-size:xx-large;
    text-align: center;
    margin:auto;
    font-size: calc(100% + 1vh +1vw);
    
}
.stat-container{
    align-items: center;
    font-size: x-large;
    font-size: calc(100% + 1vh +1vw);
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}
.stat-container .stat , .label {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.all-container{
    font-size: calc(40% + 1vh +1vw);
}
.table-container{
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#leadertable td{
    font-size:x-large;
    font-size: calc(40% + 1vh +1vw);
}
#leadertable{
    min-width:40vw;
}