<!DOCTYPE html>
<html>

    <head>
        <title>ChessleShip Login</title>


    </head>

    <body>

        <div>
            <form action="/register" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <p style="font-family: 'Arial'">
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}

                </p>
                <p style="font-family: 'Arial'">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p style="font-family: 'Arial'">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p style="font-family: 'Arial'">{{ form.submit() }}</p>
            </form>

        </div>

    </body>


</html>