<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CHESSLESHIPrules</title>
    <meta name="description" content="" />
        
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessleship.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
    <script src="{{ url_for('static', filename='javascript/chessleship.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/aleaPRNG-1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/seed-positions.js') }}"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  </head>
 
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="chessleship.html">♔</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="chessleship.html">Back to Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="stats">Stats</a>
          </li>
          <span class="navbar-text">CHESSLESHIP</span>
    
          <li class="nav-item">
            {%if current_user.is_authenticated%}
            <a class="nav-link active" href="logout">Log Out</a>
            {% else %}
            <a class="nav-link active" href="login">Log In</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body>
    <div class="page-container">
      <h1>HOW TO PLAY CHESSLESHIP!</h1>
      <p class="rule_desc" id="rule_functions">
          Try to uncover all the hidden pieces with the least amount of guesses.<br><br>
          Select up to 8 Squares with mouse/touch and press guess to uncover. <br>(This is 1 turn, but be careful you only have 8)<br><br>
          Left click or press the "Flag" button to flag for a piece.<br> (keep clcking to cycle through or unflag) <br><br>
      </p>
      <div class="example-container">
        <div class="row">
          <!-- <div class="col-sm-0"></div> -->
          
        
          <div class="rule_desc col-12" id="rules_squares">
              <br>
              Yellow Squares- Targeted by 1 or more pieces<br>
              The number in the Yellow Cells indicates how many STILL HIDDEN pieces target that square<br><br>
              Red Squares- You've Found a Piece!<br>
              The letter in the square tells you which one<br><br>
              Black Squares- Uh oh! No piece is targetting this square<br>
          </div>
          <div class="boardex-container">
            <img class="example" src="/static/images/examplegame.jpg">
          </div>
        </div>    
      </div>
    </div>
    
  </body>
    
</html>