<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CHESSLESHIPrules</title>
    <meta name="description" content="" />
        
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="{{ url_for('static', filename='chessleship.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='rules.css') }}">
    <script src="{{ url_for('static', filename='chessleship.js') }}"></script>
    <script src="{{ url_for('static', filename='aleaPRNG-1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='seed-positions.js') }}"></script>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  </head>
 
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">♔</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="chessleship.html">Back To Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#help">Log In</a>
          </li>
          <span class="navbar-text">CHESSLESHIP</span>
          <li class="nav-item">
            <a class="nav-link active" href="#stats">Stats</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body>
    <h1>HOW TO PLAY CHESSLESHIP!</h1>
    <p class="rule_desc" id="rule_functions">
        Try to uncover all the hidden pieces. <br><br>
        Select the square with mouse/touch and press guess to uncover.<br><br>
        Left click or press the "Flag" button to flag for a piece.<br> (keep clcking to cycle through or unflag) <br><br>
    </p>
    <div class="example-container">
        <table id="board" class="rules_board">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>K</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
          </table>
      
          <p class="rule_desc" id="rules_squares">
              <br>
              Yellow Squares- Targeted by 1 or more pieces<br>
              The number in the Yellow Cells indicates how many STILL HIDDEN pieces target that square<br><br>
              Red Squares- You've Found a Piece!<br>
              The letter in the square tells yoy which one<br><br>
              Black Squares- Uh oh! No piece is targetting this square<br>
          </p>
    </div>
  </body>
    
</html>