<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CHESSLESHIPstats</title>
    <meta name="description" content="" />
        
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessleship.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rules.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
    <script src="{{ url_for('static', filename='javascript/chessleship.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/aleaPRNG-1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/seed-positions.js') }}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  </head>
 
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">♔</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="rules.html">Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register.html">Log In</a>
          </li>
          <span class="navbar-text">CHESSLESHIP</span>
          <li class="nav-item">
            <a class="nav-link active" href="chessleship.html">Back To Game</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body>
    <h1>STATS</h1>
    <div class="container">
      <h1 class="sub">Statistics</h1>
      <div id="stat">
    <div class="stat-container">
      <div class="stat">{{games_played}}</div>

      <div class="label">Games Played</div>
    </div>
  
    <div class="stat-container">
      <div class="stat">0</div>
      <div class="label">Average Squares</div>
    </div>
  
    <div class="stat-container">
      <div class="stat">0</div>
      <div class="label">Average percentile</div>
    </div>
  

  </div>
      <h1 class="sub">LeaderBoard</h1>
      <div class="table-container">

      </div>
  </div>
    </div>

   
  </body>
    
</html>